  #home{
    overflow-x: hidden;
  }
  #home .carousel{
    max-height: 800px;
    min-height: 420px;
    overflow-x: hidden;
    overflow-y: hidden;

  }


  #home .carousel-inner img {
    position: relative;
  
    width: 100%;
    object-fit: scale-down(60%);
    }


  /* #home .carousel-inner .carousel-caption{
    position: absolute;
    font-size: 30px;
    background-color: rgba(0,0, 0, 0.3);
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    height: 100%;
    top: 5px;
    
  } */

    #home .carousel-inner .carousel-caption h3{
      position: relative;
      top: 40%;
      font-family:fantasy;
      
      font-size: 40px;
    }
    #home .carousel-inner .carousel-caption p{
      position: relative;
      top: 42%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
    }
    .carousel-control-prev,.carousel-control-next{
      z-index: 50;
    }