 .category-name{
   
    color: black;
  
    
}
 .category-name:hover{
    color: black;
    text-decoration: none;
 }  
.pop *{
    transition: transform .2s;
}
.pop *:hover{
transform: scale(1.2);
}

