.dot {
  height: 500px;
  width: 500px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 550px;
}



/* html code for this dot */


/* 
<div style="text-align:center">
  <span class="dot">
  <h1> about us</h1>
  <p>orem Ipsum is simply dummy text of the <br>printing and typesetting industry. Lorem Ipsum has been <br>the industry's standard dummy text ever since the 1500s<br>, when an unknown printer took a galley of type and scrambled it to<br> make a type specimen book. It has survived not only five<br> centuries, but also the leap into electronic typesetting, remaining <br>essentially unchanged. It was popularised in the 1960s with<br> the release of Letraset sheets containing Lorem Ipsum passages,<br> and more recently with desktop publishing software like Aldus<br> PageMaker including versions of Lorem Ipsum.
<p>
  </span>
</div>
<hr> */