.intro-to-app {
    
    overflow: hidden;

}

.intro-to-app h3{
    font-family: FORTE;
    font-style: oblique;
    color: #12542b;
}

.bold-span{
    font-weight: 800 ;
}

.oblique-span{
    font-style: oblique;
}
.intro-to-app p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

