.intro-to-app {
      
    background-color: #FFEBEE;
    overflow: hidden;

}

.m-display-intro{
    display: block;
}
.c-display-intro {
    display: none;
}
@media only screen and (min-width:768px){

.m-display-intro{
    display: none;
}

.c-display-intro{
    display: block;
}


}

.c-display-intro .one{
    position: relative;
    width: 60%;
}
.c-display-intro .two {
    position: relative;
    width: 40%;
}


