#dot-nav {
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 20;
}

#dot-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dot-nav li {
    position: relative;
    background-color: #bdc3c7;
    border: 3px solid #bdc3c7;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    padding: 5px;
    height: 10px;
    margin: 10px 10px 0px 0px;
    width: 10px;
    vertical-align: bottom;
}

#dot-nav li.active,
#dot-nav li:hover {
    background-color: #8e44ad;
}

#dot-nav a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px;
}

.awesome-tooltip+.tooltip>.tooltip-inner {
    /*background-color: #8e44ad;*/
    color: #f5f5f5;
    border: 1px solid #8e44ad;
}

.awesome-tooltip+.tooltip.left>.tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #8e44ad;
}

/*  main nav  */
@import url(//db.onlinewebfonts.com/c/e3062d8da98d4c90af3ad8613ca226e7?family=Copperplate+Gothic+Bold);


@font-face {
    font-family: "Copperplate Gothic Bold";
    src: url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.eot");
    src: url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.woff") format("woff"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.svg#Copperplate Gothic Bold") format("svg");
}

.navbar {
    position: fixed;
    color: transparent !important;
    z-index: 40;
    top: 10px;
    width: 100%;
    padding: 2px;
}

.navbar .navbar-brand {

    font-family: Copperplate Gothic;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding: 2px;

}

.navbar * {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;

}

.navbar.solid-nav {
    background-color: #EB737C;
    transition: background-color 0.2s linear;
}

.navbar.solid-nav .navbar-brand {
    color: #000;
}

.navbar.solid-nav * {
    color: #000;
}

.navbar-toggler-icon{
    color: #000;
}