
.nav {
    position: fixed;
    top: 45%;
    bottom: 30%;
    right: 5px;
	width: 60px;
	z-index: 50;
}

.nav ul {
	list-style: none;
}


.nav li {
    width: 10px;
	height: 10px;
	margin: 10px;
    border-radius: 100%;
    background-color: rosybrown;
    cursor: pointer;
    transition: .5s;
}	

.dot1 {
    background-color: rgb(82, 43, 43);
}

.dot2 {
    background-color: rgb(24, 73, 44);
}

.dot3 {
    background-color: rgb(73, 58, 204);
}

.dot4 {
    background-color: rgb(58, 70, 31);
}

.active {
    box-shadow: 0 0 0 3px white, 0 0 0 6px #000;
}